
.btn-group.hidden {
    display: none !important
}

.facetview_filters.hidden {
    display: none; !important;
}

#facetview_filter_isDcoPublication {
    display: none; !important;
    visibility: hidden;
}

#facetview_filter_group_isDcoPublication {
    display: none; !important;
}